body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cornflowerblue;
  vertical-align: center;  
  vertical-align: middle;
}

#teamsColumn {
  border-radius: 3px;
  border-color: #333;
}

#teamList {
  background-color: lightgray;
  color: black;
  display: block;
  
}

li {
  float: left;  
  display: block;
}

#scheduleWrapper {
  display: inline;
}

li a {  
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;  
  display: table-cell;
  vertical-align: middle;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: dodgerblue;
}
